--name = nuebarcc_muonid_calibup

--event_tables = /Users/derekdoyle/repos/bookish-potato/CalibSyst/calib_event_tables_trimmed_extras.h5
--plots = /Users/derekdoyle/repos/bookish-potato/CalibSyst/cdf_shift/test
--output = /Users/derekdoyle/repos/bookish-potato/CalibSyst/cdf_shift/test/muonid/test.cdf.h5

--var_label = muonid
--cut_label = mc
--nominal_sample = nominal
--shifted_sample = calibup


# optimization axis
--xbins = 3
--xlim = [-1, 1.001]
--pad = 0.04

# pdf axis
--ybins = 40

# bounds on shifted var
--bounds = [-1, 1]

--objective_bins_eval = np.linspace(-0.5, 0.5, 10)

--minimizer_opts = {'maxiter': 5, 'disp': True, 'initial_constr_penalty': 1, 'finite_diff_rel_step': 0.0001}

--train_size = 0.4
--retries = 3
--noise_scale=0.01

--nmultistarts = 2
--nquick_seeds = 2

--var_bins_eval = np.linspace(-1, 1.001, 30)

